*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/kaboompics_books-on-a-bookcase-marble-shelves-27345.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.head{
    padding: 20px 0px 0px 40px;
    height: 20%;
}
.head ul{
    list-style-type: none;
    float: left;
}
.head ul li{
    padding: 10px;
    display: inline-block;
    margin: 20px 30px;
}
.head ul li a{
    text-decoration: none;
    border: 0px solid rgb(31, 160, 235);
    color: whitesmoke;
    font-size: 20px;
    transition: 0.8s;
}
.head ul li a:hover{
    border: 0px solid red;
    background-color: rgb(243, 246, 248);
    color: black;
    border-radius: 20px;
}
img{
    padding: 20px 0px 0px 0px;
    float: right;
    position: absolute;
    right: 15%;
}
.home{
    border: 1px solid white;
    background-color: aliceblue;
    background: transparent;
    color: black;
}
.section{
    position: absolute;
    top: 45%;
    left: 17%;
}
h1{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    margin: 30px;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
.section p{
    font-family: 'Prompt', sans-serif;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}
.section button{
    width: 300px;
    background: transparent;
    border: 1px solid rgb(47, 219, 219);
    border-radius: 60px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    top: 105%;
    left: 30%;
    color: red;
    font-size: 20px;
    transition: 0.8s;
}
.section button a{
    text-decoration: none;
    color: aliceblue;
    
}
button:hover{
    background-color: rgb(84, 235, 222);
    
}
button a:hover{
    color: black;
    opacity: initial;
}
footer{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.foot-img{

}
footer img{
    width: 300px;
    position: absolute;
    right: 75%;
}
.ffot{
    padding: 90px 0px 0px 90px;
    color: aliceblue;
    margin: 30px;  
    float: left;      
}
.foot-about{
    padding: 20px;
    color: aliceblue;
    margin: 20px;
}
.button-search{
    background-color: red;
}